src/main/resources/xsds/xn.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="genericNrm.xsd" xmlns:xn="genericNrm.xsd" xmlns:es="EricssonSpecificAttributes.xsd" xmlns:ns1="configData.xsd">
  <xs:import namespace="EricssonSpecificAttributes.xsd" schemaLocation="output.xsd"/>
  <xs:import namespace="configData.xsd" schemaLocation="ns1.xsd"/>
  <xs:element name="SubNetwork">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element ref="xn:SubNetwork"/>
        <xs:element maxOccurs="unbounded" ref="xn:MeContext"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="MeContext">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="xn:VsDataContainer"/>
        <xs:element ref="xn:ManagedElement"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManagedElement">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="xn:attributes"/>
        <xs:element maxOccurs="unbounded" ref="xn:VsDataContainer"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="VsDataContainer">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="xn:VsDataContainer"/>
        <xs:element ref="xn:attributes"/>
      </xs:choice>
      <xs:attribute name="id" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="attributes">
    <xs:complexType>
      <xs:sequence>
        <xs:sequence minOccurs="0">
          <xs:element ref="xn:vsDataType"/>
          <xs:element ref="xn:vsDataFormatVersion"/>
        </xs:sequence>
        <xs:choice>
          <xs:element ref="es:vsDataAddressIPv4"/>
          <xs:element ref="es:vsDataAdmissionControl"/>
          <xs:element ref="es:vsDataAdmissionLimit"/>
          <xs:element ref="es:vsDataAdmissionPriority"/>
          <xs:element ref="es:vsDataAdmissionPriorityUeCfg"/>
          <xs:element ref="es:vsDataAqmCfg"/>
          <xs:element ref="es:vsDataAssistingReference"/>
          <xs:element ref="es:vsDataAuthenticationOrder"/>
          <xs:element ref="es:vsDataAuthorizationOrder"/>
          <xs:element ref="es:vsDataAutoEsiM"/>
          <xs:element ref="es:vsDataAutoProvisioning"/>
          <xs:element ref="es:vsDataAutoRecovery"/>
          <xs:element ref="es:vsDataAutonomousMode"/>
          <xs:element ref="es:vsDataBoundaryOrdinaryClock"/>
          <xs:element ref="es:vsDataBrM"/>
          <xs:element ref="es:vsDataBrmBackup"/>
          <xs:element ref="es:vsDataBrmBackupHousekeeping"/>
          <xs:element ref="es:vsDataBrmBackupLabelStore"/>
          <xs:element ref="es:vsDataBrmBackupManager"/>
          <xs:element ref="es:vsDataBrmBackupScheduler"/>
          <xs:element ref="es:vsDataBrmFailsafeBackup"/>
          <xs:element ref="es:vsDataBrmRollbackAtRestore"/>
          <xs:element ref="es:vsDataBsr"/>
          <xs:element ref="es:vsDataBsrUeCfg"/>
          <xs:element ref="es:vsDataCUCP5qi"/>
          <xs:element ref="es:vsDataCUCP5qiTable"/>
          <xs:element ref="es:vsDataCUUP5qi"/>
          <xs:element ref="es:vsDataCUUP5qiTable"/>
          <xs:element ref="es:vsDataCaCellProfile"/>
          <xs:element ref="es:vsDataCaCellProfileUeCfg"/>
          <xs:element ref="es:vsDataCaSCellHandling"/>
          <xs:element ref="es:vsDataCaSCellHandlingUeCfg"/>
          <xs:element ref="es:vsDataCabinet"/>
          <xs:element ref="es:vsDataCapabilityHandling"/>
          <xs:element ref="es:vsDataCapabilityHandlingUeCfg"/>
          <xs:element ref="es:vsDataCapacityKey"/>
          <xs:element ref="es:vsDataCapacityState"/>
          <xs:element ref="es:vsDataCapacityUsage"/>
          <xs:element ref="es:vsDataCardinalityLimits"/>
          <xs:element ref="es:vsDataCarrierAggregation"/>
          <xs:element ref="es:vsDataCcpdService"/>
          <xs:element ref="es:vsDataCertM"/>
          <xs:element ref="es:vsDataCertMCapabilities"/>
          <xs:element ref="es:vsDataCgSwitch"/>
          <xs:element ref="es:vsDataCgSwitchCfg"/>
          <xs:element ref="es:vsDataCgSwitchUeCfg"/>
          <xs:element ref="es:vsDataChainCertificate"/>
          <xs:element ref="es:vsDataCli"/>
          <xs:element ref="es:vsDataCliSsh"/>
          <xs:element ref="es:vsDataCliTls"/>
          <xs:element ref="es:vsDataClimate"/>
          <xs:element ref="es:vsDataCommonBeamforming"/>
          <xs:element ref="es:vsDataConfiguredGrant"/>
          <xs:element ref="es:vsDataConfiguredGrantUeCfg"/>
          <xs:element ref="es:vsDataConsumedEnergyMeasurement"/>
          <xs:element ref="es:vsDataCpriLinkSupervision"/>
          <xs:element ref="es:vsDataCustomRole"/>
          <xs:element ref="es:vsDataCustomRule"/>
          <xs:element ref="es:vsDataDESManagementFunction"/>
          <xs:element ref="es:vsDataDU5qi"/>
          <xs:element ref="es:vsDataDU5qiTable"/>
          <xs:element ref="es:vsDataDUQos"/>
          <xs:element ref="es:vsDataDataRadioBearer"/>
          <xs:element ref="es:vsDataDateAndTime"/>
          <xs:element ref="es:vsDataDcDlCfg"/>
          <xs:element ref="es:vsDataDlLinkAdaptation"/>
          <xs:element ref="es:vsDataDlOuterLoop"/>
          <xs:element ref="es:vsDataDrb"/>
          <xs:element ref="es:vsDataDrbRlc"/>
          <xs:element ref="es:vsDataDrbRlcUeCfg"/>
          <xs:element ref="es:vsDataDrbUeCfg"/>
          <xs:element ref="es:vsDataDrbUp"/>
          <xs:element ref="es:vsDataDrbUpUeCfg"/>
          <xs:element ref="es:vsDataDrxProfile"/>
          <xs:element ref="es:vsDataDrxProfileUeCfg"/>
          <xs:element ref="es:vsDataDscpPcpMap"/>
          <xs:element ref="es:vsDataDst"/>
          <xs:element ref="es:vsDataEUtraNetwork"/>
          <xs:element ref="es:vsDataEUtranFreqRelation"/>
          <xs:element ref="es:vsDataEUtranFrequency"/>
          <xs:element ref="es:vsDataEbsCounterSpecification"/>
          <xs:element ref="es:vsDataEcBus"/>
          <xs:element ref="es:vsDataEcPort"/>
          <xs:element ref="es:vsDataElementManagerWeb"/>
          <xs:element ref="es:vsDataEmergencyUnlock"/>
          <xs:element ref="es:vsDataEndpointResource"/>
          <xs:element ref="es:vsDataEnergyMeter"/>
          <xs:element ref="es:vsDataEnrollmentAuthority"/>
          <xs:element ref="es:vsDataEnrollmentServer"/>
          <xs:element ref="es:vsDataEnrollmentServerGroup"/>
          <xs:element ref="es:vsDataEquipment"/>
          <xs:element ref="es:vsDataEquipmentDiscovery"/>
          <xs:element ref="es:vsDataEquipmentSupportFunction"/>
          <xs:element ref="es:vsDataEricssonFilter"/>
          <xs:element ref="es:vsDataEthernetPort"/>
          <xs:element ref="es:vsDataEventCapabilities"/>
          <xs:element ref="es:vsDataEventFilterType"/>
          <xs:element ref="es:vsDataEventGroup"/>
          <xs:element ref="es:vsDataEventGroupS"/>
          <xs:element ref="es:vsDataEventJob"/>
          <xs:element ref="es:vsDataEventProducer"/>
          <xs:element ref="es:vsDataEventProducerS"/>
          <xs:element ref="es:vsDataEventType"/>
          <xs:element ref="es:vsDataEventTypeS"/>
          <xs:element ref="es:vsDataExtCaPriority"/>
          <xs:element ref="es:vsDataExtGNBDUPartnerFunction"/>
          <xs:element ref="es:vsDataExtendedTransport"/>
          <xs:element ref="es:vsDataExternalBroadcastPLMNInfo"/>
          <xs:element ref="es:vsDataExternalENodeBFunction"/>
          <xs:element ref="es:vsDataExternalGNBCUCPFunction"/>
          <xs:element ref="es:vsDataExternalNRCellCU"/>
          <xs:element ref="es:vsDataExternalNode"/>
          <xs:element ref="es:vsDataExternalPower"/>
          <xs:element ref="es:vsDataFanGroup"/>
          <xs:element ref="es:vsDataFeatureKey"/>
          <xs:element ref="es:vsDataFeatureState"/>
          <xs:element ref="es:vsDataFieldReplaceableUnit"/>
          <xs:element ref="es:vsDataFilePullCapabilities"/>
          <xs:element ref="es:vsDataFileTPM"/>
          <xs:element ref="es:vsDataFileType"/>
          <xs:element ref="es:vsDataFileTypes"/>
          <xs:element ref="es:vsDataFilter"/>
          <xs:element ref="es:vsDataFm"/>
          <xs:element ref="es:vsDataFmAlarm"/>
          <xs:element ref="es:vsDataFmAlarmModel"/>
          <xs:element ref="es:vsDataFmAlarmType"/>
          <xs:element ref="es:vsDataFtpServer"/>
          <xs:element ref="es:vsDataFtpTls"/>
          <xs:element ref="es:vsDataFtpTlsServer"/>
          <xs:element ref="es:vsDataGNBCUCPFunction"/>
          <xs:element ref="es:vsDataGNBCUUPFunction"/>
          <xs:element ref="es:vsDataGNBDUFunction"/>
          <xs:element ref="es:vsDataGnssInfo"/>
          <xs:element ref="es:vsDataGracePeriod"/>
          <xs:element ref="es:vsDataGtpuSupervision"/>
          <xs:element ref="es:vsDataGtpuSupervisionProfile"/>
          <xs:element ref="es:vsDataHarq"/>
          <xs:element ref="es:vsDataHarqUeCfg"/>
          <xs:element ref="es:vsDataHcRule"/>
          <xs:element ref="es:vsDataHealthCheckM"/>
          <xs:element ref="es:vsDataHereIAmIndication"/>
          <xs:element ref="es:vsDataHttpM"/>
          <xs:element ref="es:vsDataHttps"/>
          <xs:element ref="es:vsDataHwInventory"/>
          <xs:element ref="es:vsDataHwItem"/>
          <xs:element ref="es:vsDataInactivityProfile"/>
          <xs:element ref="es:vsDataInactivityProfileUeCfg"/>
          <xs:element ref="es:vsDataInstantaneousLicensing"/>
          <xs:element ref="es:vsDataIntegrationUnlock"/>
          <xs:element ref="es:vsDataInterMeLink"/>
          <xs:element ref="es:vsDataInterfaceIPv4"/>
          <xs:element ref="es:vsDataIntraFreqMC"/>
          <xs:element ref="es:vsDataIntraFreqMCCellProfile"/>
          <xs:element ref="es:vsDataIntraFreqMCCellProfileUeCfg"/>
          <xs:element ref="es:vsDataIntraFreqMCFreqRelProfile"/>
          <xs:element ref="es:vsDataIntraFreqMCFreqRelProfileUeCfg"/>
          <xs:element ref="es:vsDataKeyFileInformation"/>
          <xs:element ref="es:vsDataKeyFileManagement"/>
          <xs:element ref="es:vsDataLdap"/>
          <xs:element ref="es:vsDataLdapAuthenticationMethod"/>
          <xs:element ref="es:vsDataLicenseSupport"/>
          <xs:element ref="es:vsDataLinkAdaptation"/>
          <xs:element ref="es:vsDataLinkAdaptationUeCfg"/>
          <xs:element ref="es:vsDataLldp"/>
          <xs:element ref="es:vsDataLm"/>
          <xs:element ref="es:vsDataLocalAccess"/>
          <xs:element ref="es:vsDataLocalAccessM"/>
          <xs:element ref="es:vsDataLocalAuthorizationMethod"/>
          <xs:element ref="es:vsDataLocalIpEndpoint"/>
          <xs:element ref="es:vsDataLocalSctpEndpoint"/>
          <xs:element ref="es:vsDataLog"/>
          <xs:element ref="es:vsDataLogM"/>
          <xs:element ref="es:vsDataMaintenanceUser"/>
          <xs:element ref="es:vsDataMaintenanceUserSecurity"/>
          <xs:element ref="es:vsDataManagedElement"/>
          <xs:element ref="es:vsDataMassiveMimoSleep"/>
          <xs:element ref="es:vsDataMcfb"/>
          <xs:element ref="es:vsDataMcfbCellProfile"/>
          <xs:element ref="es:vsDataMcfbCellProfileUeCfg"/>
          <xs:element ref="es:vsDataMcpc"/>
          <xs:element ref="es:vsDataMcpcPCellEUtranFreqRelProfile"/>
          <xs:element ref="es:vsDataMcpcPCellEUtranFreqRelProfileUeCfg"/>
          <xs:element ref="es:vsDataMcpcPCellNrFreqRelProfile"/>
          <xs:element ref="es:vsDataMcpcPCellNrFreqRelProfileUeCfg"/>
          <xs:element ref="es:vsDataMcpcPCellProfile"/>
          <xs:element ref="es:vsDataMcpcPCellProfileUeCfg"/>
          <xs:element ref="es:vsDataMcpcPSCellNrFreqRelProfile"/>
          <xs:element ref="es:vsDataMcpcPSCellNrFreqRelProfileUeCfg"/>
          <xs:element ref="es:vsDataMcpcPSCellProfile"/>
          <xs:element ref="es:vsDataMcpcPSCellProfileUeCfg"/>
          <xs:element ref="es:vsDataMdt"/>
          <xs:element ref="es:vsDataMdtCellProfile"/>
          <xs:element ref="es:vsDataMdtCellProfileUeCfg"/>
          <xs:element ref="es:vsDataMeContext"/>
          <xs:element ref="es:vsDataMpClusterHandling"/>
          <xs:element ref="es:vsDataNRCellCU"/>
          <xs:element ref="es:vsDataNRCellDU"/>
          <xs:element ref="es:vsDataNRCellRelation"/>
          <xs:element ref="es:vsDataNRFreqRelation"/>
          <xs:element ref="es:vsDataNRFrequency"/>
          <xs:element ref="es:vsDataNRNetwork"/>
          <xs:element ref="es:vsDataNRSectorCarrier"/>
          <xs:element ref="es:vsDataNRSynchronization"/>
          <xs:element ref="es:vsDataNetconfSsh"/>
          <xs:element ref="es:vsDataNetconfTls"/>
          <xs:element ref="es:vsDataNextHop"/>
          <xs:element ref="es:vsDataNodeCredential"/>
          <xs:element ref="es:vsDataNodeSupport"/>
          <xs:element ref="es:vsDataNrEtcm"/>
          <xs:element ref="es:vsDataNrFtem"/>
          <xs:element ref="es:vsDataNrPmEvents"/>
          <xs:element ref="es:vsDataNrdcControl"/>
          <xs:element ref="es:vsDataNrdcMnCellProfile"/>
          <xs:element ref="es:vsDataNrdcMnCellProfileUeCfg"/>
          <xs:element ref="es:vsDataNrdcSnTermination"/>
          <xs:element ref="es:vsDataNrdcSnTerminationUeCfg"/>
          <xs:element ref="es:vsDataNtp"/>
          <xs:element ref="es:vsDataNtpServer"/>
          <xs:element ref="es:vsDataOamAccessPoint"/>
          <xs:element ref="es:vsDataOamIpSupport"/>
          <xs:element ref="es:vsDataOamTrafficClass"/>
          <xs:element ref="es:vsDataOffloadCellProfile"/>
          <xs:element ref="es:vsDataOffloadCellProfileUeCfg"/>
          <xs:element ref="es:vsDataOffloadEUtranFreqRelProfile"/>
          <xs:element ref="es:vsDataOffloadEUtranFreqRelProfileUeCfg"/>
          <xs:element ref="es:vsDataOffloadNrFreqRelProfile"/>
          <xs:element ref="es:vsDataOffloadNrFreqRelProfileUeCfg"/>
          <xs:element ref="es:vsDataOnSiteActivities"/>
          <xs:element ref="es:vsDataPaging"/>
          <xs:element ref="es:vsDataPciConflictEUtran"/>
          <xs:element ref="es:vsDataPciConflictEUtranUeCfg"/>
          <xs:element ref="es:vsDataPciConflictNR"/>
          <xs:element ref="es:vsDataPciConflictNRUeCfg"/>
          <xs:element ref="es:vsDataPciHandling"/>
          <xs:element ref="es:vsDataPdcchLinkAdaptation"/>
          <xs:element ref="es:vsDataPdcchReuseForPdsch"/>
          <xs:element ref="es:vsDataPdcchReuseForPdschUeCfg"/>
          <xs:element ref="es:vsDataPm"/>
          <xs:element ref="es:vsDataPmEventM"/>
          <xs:element ref="es:vsDataPmEventSigM"/>
          <xs:element ref="es:vsDataPmEventSpecification"/>
          <xs:element ref="es:vsDataPmMeasurementCapabilities"/>
          <xs:element ref="es:vsDataPmSupport"/>
          <xs:element ref="es:vsDataPowerControl"/>
          <xs:element ref="es:vsDataPowerControlUeCfg"/>
          <xs:element ref="es:vsDataPowerDistribution"/>
          <xs:element ref="es:vsDataPowerSaving"/>
          <xs:element ref="es:vsDataPowerSupply"/>
          <xs:element ref="es:vsDataPpControlLink"/>
          <xs:element ref="es:vsDataPpControlTermination"/>
          <xs:element ref="es:vsDataPreRestartEsi"/>
          <xs:element ref="es:vsDataPrescheduling"/>
          <xs:element ref="es:vsDataPreschedulingUeCfg"/>
          <xs:element ref="es:vsDataPrototypeConfig"/>
          <xs:element ref="es:vsDataPrototypeConfigUeCfg"/>
          <xs:element ref="es:vsDataPtp"/>
          <xs:element ref="es:vsDataPtpBcOcPort"/>
          <xs:element ref="es:vsDataPuschRep"/>
          <xs:element ref="es:vsDataPuschRepUeCfg"/>
          <xs:element ref="es:vsDataQciProfileEndcConfigExt"/>
          <xs:element ref="es:vsDataQosProfiles"/>
          <xs:element ref="es:vsDataRach"/>
          <xs:element ref="es:vsDataRachUeCfg"/>
          <xs:element ref="es:vsDataRadioBearerTable"/>
          <xs:element ref="es:vsDataRadioEquipmentClock"/>
          <xs:element ref="es:vsDataRadioEquipmentClockReference"/>
          <xs:element ref="es:vsDataRadioLinkControl"/>
          <xs:element ref="es:vsDataRadioPowerOverbooking"/>
          <xs:element ref="es:vsDataRadioProcessing"/>
          <xs:element ref="es:vsDataRiEthernetPort"/>
          <xs:element ref="es:vsDataRiLink"/>
          <xs:element ref="es:vsDataRiPort"/>
          <xs:element ref="es:vsDataRimOffload"/>
          <xs:element ref="es:vsDataRimOffloadUeCfg"/>
          <xs:element ref="es:vsDataRimRSGlobal"/>
          <xs:element ref="es:vsDataRohc"/>
          <xs:element ref="es:vsDataRohcUeCfg"/>
          <xs:element ref="es:vsDataRole"/>
          <xs:element ref="es:vsDataRouteTableIPv4Static"/>
          <xs:element ref="es:vsDataRouter"/>
          <xs:element ref="es:vsDataRpUserPlaneLink"/>
          <xs:element ref="es:vsDataRpUserPlaneTermination"/>
          <xs:element ref="es:vsDataRrc"/>
          <xs:element ref="es:vsDataRrcInactiveProfile"/>
          <xs:element ref="es:vsDataRrcInactiveProfileUeCfg"/>
          <xs:element ref="es:vsDataRrcUeCfg"/>
          <xs:element ref="es:vsDataRule"/>
          <xs:element ref="es:vsDataRuntimeExportM"/>
          <xs:element ref="es:vsDataS1ULink"/>
          <xs:element ref="es:vsDataS1UTermination"/>
          <xs:element ref="es:vsDataSchema"/>
          <xs:element ref="es:vsDataSctp"/>
          <xs:element ref="es:vsDataSctpAssociation"/>
          <xs:element ref="es:vsDataSctpEndpoint"/>
          <xs:element ref="es:vsDataSctpProfile"/>
          <xs:element ref="es:vsDataSecM"/>
          <xs:element ref="es:vsDataSectorEquipmentFunction"/>
          <xs:element ref="es:vsDataSecurityHandling"/>
          <xs:element ref="es:vsDataServerKey"/>
          <xs:element ref="es:vsDataServiceDiscovery"/>
          <xs:element ref="es:vsDataServiceDiscoveryServer"/>
          <xs:element ref="es:vsDataSfpChannel"/>
          <xs:element ref="es:vsDataSfpModule"/>
          <xs:element ref="es:vsDataSftpServer"/>
          <xs:element ref="es:vsDataSignalingRadioBearer"/>
          <xs:element ref="es:vsDataSnmp"/>
          <xs:element ref="es:vsDataSnmpTargetV2C"/>
          <xs:element ref="es:vsDataSnmpTargetV3"/>
          <xs:element ref="es:vsDataSoftAcAssist"/>
          <xs:element ref="es:vsDataSoftAcAssistUeCfg"/>
          <xs:element ref="es:vsDataSrHandling"/>
          <xs:element ref="es:vsDataSrHandlingUeCfg"/>
          <xs:element ref="es:vsDataSrPeriodicity"/>
          <xs:element ref="es:vsDataSrPeriodicityUeCfg"/>
          <xs:element ref="es:vsDataSsh"/>
          <xs:element ref="es:vsDataStreamingCapabilities"/>
          <xs:element ref="es:vsDataSupportUnit"/>
          <xs:element ref="es:vsDataSwInventory"/>
          <xs:element ref="es:vsDataSwItem"/>
          <xs:element ref="es:vsDataSwM"/>
          <xs:element ref="es:vsDataSwMSupport"/>
          <xs:element ref="es:vsDataSwSigningCert"/>
          <xs:element ref="es:vsDataSwSigningCertM"/>
          <xs:element ref="es:vsDataSwVersion"/>
          <xs:element ref="es:vsDataSyncEthInput"/>
          <xs:element ref="es:vsDataSyncPort"/>
          <xs:element ref="es:vsDataSynchronization"/>
          <xs:element ref="es:vsDataSysM"/>
          <xs:element ref="es:vsDataSystemFunctions"/>
          <xs:element ref="es:vsDataSystemTriggeredUnlock"/>
          <xs:element ref="es:vsDataTermPointToAmf"/>
          <xs:element ref="es:vsDataTermPointToENodeB"/>
          <xs:element ref="es:vsDataTermPointToGNBCUCP"/>
          <xs:element ref="es:vsDataTermPointToGNBDU"/>
          <xs:element ref="es:vsDataTermPointToGNodeB"/>
          <xs:element ref="es:vsDataTimeM"/>
          <xs:element ref="es:vsDataTimeSettings"/>
          <xs:element ref="es:vsDataTimeSyncIO"/>
          <xs:element ref="es:vsDataTls"/>
          <xs:element ref="es:vsDataTnPort"/>
          <xs:element ref="es:vsDataTnlAssociation"/>
          <xs:element ref="es:vsDataTopologySchema"/>
          <xs:element ref="es:vsDataTrStPSCellProfile"/>
          <xs:element ref="es:vsDataTrStPSCellProfileUeCfg"/>
          <xs:element ref="es:vsDataTrStSaCellProfile"/>
          <xs:element ref="es:vsDataTrStSaCellProfileUeCfg"/>
          <xs:element ref="es:vsDataTrStSaEUtranFreqRelProfile"/>
          <xs:element ref="es:vsDataTrStSaEUtranFreqRelProfileUeCfg"/>
          <xs:element ref="es:vsDataTrStSaNrFreqRelProfile"/>
          <xs:element ref="es:vsDataTrStSaNrFreqRelProfileUeCfg"/>
          <xs:element ref="es:vsDataTrafficOffload"/>
          <xs:element ref="es:vsDataTrafficSteering"/>
          <xs:element ref="es:vsDataTransceiver"/>
          <xs:element ref="es:vsDataTransport"/>
          <xs:element ref="es:vsDataTrustCategory"/>
          <xs:element ref="es:vsDataTrustedCertificate"/>
          <xs:element ref="es:vsDataTwampInitiator"/>
          <xs:element ref="es:vsDataTwampResponder"/>
          <xs:element ref="es:vsDataTwampTestSession"/>
          <xs:element ref="es:vsDataUaiProfile"/>
          <xs:element ref="es:vsDataUaiProfileUeCfg"/>
          <xs:element ref="es:vsDataUcmCellProfile"/>
          <xs:element ref="es:vsDataUcmCellProfileUeCfg"/>
          <xs:element ref="es:vsDataUcmNrFreqRelProfile"/>
          <xs:element ref="es:vsDataUeAdaptiveRlc"/>
          <xs:element ref="es:vsDataUeAdaptiveRlcUeCfg"/>
          <xs:element ref="es:vsDataUeBb"/>
          <xs:element ref="es:vsDataUeBbProfile"/>
          <xs:element ref="es:vsDataUeBbProfileUeCfg"/>
          <xs:element ref="es:vsDataUeCA"/>
          <xs:element ref="es:vsDataUeCC"/>
          <xs:element ref="es:vsDataUeCovMeas"/>
          <xs:element ref="es:vsDataUeMC"/>
          <xs:element ref="es:vsDataUeMCCellProfile"/>
          <xs:element ref="es:vsDataUeMCEUtranFreqRelProfile"/>
          <xs:element ref="es:vsDataUeMCEUtranFreqRelProfileUeCfg"/>
          <xs:element ref="es:vsDataUeMCNrFreqRelProfile"/>
          <xs:element ref="es:vsDataUeMCNrFreqRelProfileUeCfg"/>
          <xs:element ref="es:vsDataUeMCUeCfg"/>
          <xs:element ref="es:vsDataUlLinkAdaptation"/>
          <xs:element ref="es:vsDataUlWfPortSwitch"/>
          <xs:element ref="es:vsDataUlWfPortSwitchUeCfg"/>
          <xs:element ref="es:vsDataUpgradePackage"/>
          <xs:element ref="es:vsDataUserIdentity"/>
          <xs:element ref="es:vsDataUserManagement"/>
          <xs:element ref="es:vsDataUserPlaneProfile"/>
          <xs:element ref="es:vsDataUserPlaneProfileUeCfg"/>
          <xs:element ref="es:vsDataVendorCredential"/>
          <xs:element ref="es:vsDataVlanPort"/>
          <xs:element ref="es:vsDataX2ULink"/>
          <xs:element ref="es:vsDataX2UTermination"/>
          <xs:element ref="xn:userLabel"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vsDataType" type="xs:NCName"/>
  <xs:element name="vsDataFormatVersion" type="xs:NCName"/>
  <xs:element name="userLabel">
    <xs:complexType/>
  </xs:element>
</xs:schema>
